<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brianhoang.recordvideo">

    <!-- declare storage, camera and audio permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.brianhoang.recordvideo.camera.CameraActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.brianhoang.recordvideo.viewer.ViewVideoActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.brianhoang.recordvideo.viewer.ViewPhotoActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>