<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brianhoang.recordvideo">

    <!-- declare storage, camera and audio permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".activity.ViewVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".activity.ViewPhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
    </application>
</manifest>